* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* nav start */
nav {
    background-color: #fff;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 165px;
}

.items {
    display: flex;
    align-items: center;
    gap: 32px;
}

.items a {
    text-decoration: none;
    color: #222222;
    font-size: 14px;
    font-weight: 500px;
    line-height: 21px;
}
.items a img{
vertical-align: middle;
color: #222222;
}

.btn button {
    background-color: #FF4A52;
    color: #fff;
    border: none;
    padding: 10px 24px;
    border-radius: 43px;
    font-size: 14px;
    font-weight: 500px;
    line-height: 21px;
}

/* nav end */