* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: rgb(255, 255, 255);
}

/* nav start */
nav {
    background-color: #ffffff;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 165px;
}

.items {
    display: flex;
    align-items: center;
    gap: 32px;
}

.items a {
    text-decoration: none;
    color: #222222;
    font-size: 14px;
    font-weight: 500px;
    line-height: 21px;
}

.items a img {
    vertical-align: middle;
    color: #222222;
}

.btn button {
    background-color: #FF4A52;
    color: #fff;
    border: none;
    padding: 10px 24px;
    border-radius: 43px;
    font-size: 14px;
    font-weight: 500px;
    line-height: 21px;
    width: 120px;
    height: 42px;
    cursor: pointer;
}

/* nav end */

/* header start */
.header {
    height: 100vh;
    background-image: url(./ass/header\ img.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
}

.heading-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.heading-button h1 {
    color: #ffffff;
    font-size: 62px;
    text-align: center;
}

.heading-button button {
    font-size: 24px;
    background-color: #FF4A52;
    color: #fff;
    padding: 16px 48px;
    border: none;
    border-radius: 43px;
    cursor: pointer;
}

/* header end */

/* features cards start */
.cards-container {
    display: flex;
    gap: 32px;
    padding: 0 162px;
    position: absolute;
    top: 620px;
    left: 50%;
    transform: translateX(-50%);
}

.features-card {
    background-color: rgb(255, 255, 255);
    width: 255px;
    height: 290px;
    border-radius: 8px;
    padding: 24px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(41, 41, 42, .1);
}

.features-card .heading1 {
    text-align: center;
}

.features-card h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #222222;
    padding-top: 24px;
    padding-bottom: 12px;
}

.features-card h3 span {
    color: #FF4A52;
}

.features-card .subheading {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #222222;
    font-style: normal;
}

/* features cards end */

/* Our Story start */
.story-container {
    width: 100%;
    /* height: 430px; */
    height: 502px;
    margin-top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
    padding: 0 48px;
    position: relative;
}

.story-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.pizza {
    position: absolute;
    right: 48px;
    bottom: -40px;
}

.center {
    display: flex;
    flex-direction: column;
    width: 540px;
    text-align: center;
    height: auto;
}

.heading-design {
    width: 540px;
    padding-bottom: 32px;
}

.heading-design h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    color: #222222;

}

.our-subheading {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #666;
    justify-content: center;
    align-items: center;
    height: 160px;
}

.features3 {
    width: 540px;
    padding-top: 44px;
    display: flex;
    justify-content: center;
}

.fea-1 {
    width: 160px;
    height: 106px;
    position: relative;

}

.hea-subhea-con {
    width: 160px;
    gap: 6px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.hea-fea h1 {
    font-size: 42px;
    color: #FF4A52;
    font-weight: 600;
    font-style: normal;
    line-height: 56px;
}

/* Our Story end */
/* Trending Recipes start */

/* .Trending-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 204px;
    background-color: gold;
} */

.trending-cards {
    background-color: rgb(201, 230, 60);
    display: flex;
    gap: 32px;
    justify-content: center;
    z-index: 1;
    position: absolute;
    top: 204px;
    left: 50%;
    transform: translateX(50%);
}

.bcg-img img {
    margin-top: 122px;
    width: 100%;
    height: auto;
    display: block;
}

.bcg-img {
    position: relative;
    /* margin-top: 122px; */
    top: 72px;
}

.bcg-img::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
}

.img-des {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    gap: 0;
    top: 72px;
}

.des img {
    margin-top: 0;
    /* margin: 0;
    padding: 0;
    line-height: 0; */
}

.img-des h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    color: #fff;
    margin: 0;
    padding: 0;
}

.card-1 {
    width: 350px;
    height: 375px;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 32px;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.heading-card h1 {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    padding-top: 24px;
    padding-bottom: 12px;
}

.subhead-card {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.tren-btn {
    background-color: #FF4A52;
    padding: 10px 24px;
    border-radius: 43px;
    margin-top: 24px;
    cursor: pointer;
}

.tren-btn:hover {
    background-color: #e13841;
}

.tren-btn button {
    color: #fff;
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

/* Trending Recipes end */